{{!-- TODO there is definitely a better way to do this and make it dry, but I'll get it later. --}}
{{!-- purchase modal BTC --}}
<div class="modal fade" id="buyBTC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Buy BTC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="buyBTCForm">
                    <div class="form-group">
                        <label for="btcPurchaseAmt">Amount to be Purchased</label>
                        <input type="email" class="form-control" id="btcPurchaseAmt" placeholder="0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" id="confirmBuyBTC">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBuyBTC">Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- sell modal --}}
<div class="modal fade" id="sellBTC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sell BTC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="btcSaleAmt">Amount to be Sold</label>
                        <input type="email" class="form-control" id="btcSaleAmt" placeholder="0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="confirmSellBTC">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelSellBTC">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- purchase modal LTC --}}
<div class="modal fade" id="buyLTC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Buy LTC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="LTCPurchaseAmt">Amount to be Purchased</label>
                        <input type="email" class="form-control" id="LTCPurchaseAmt" placeholder="0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="confirmBuyLTC">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBuyLTC">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- sell modal LTC --}}
<div class="modal fade" id="sellLTC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sell LTC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="LTCSaleAmt">Amount to be Sold</label>
                        <input type="email" class="form-control" id="LTCSaleAmt" placeholder="0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="confirmSellLTC">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelSellLTC">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- purchase modal ETH --}}
<div class="modal fade" id="buyETH" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Buy ETH</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="ETHPurchaseAmt">Amount to be Purchased</label>
                        <input type="email" class="form-control" id="ETHPurchaseAmt" placeholder="0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="confirmBuyETH">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBuyETH">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- sell modal ETH --}}
<div class="modal fade" id="sellETH" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sell ETH</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="ETHSaleAmt">Amount to be Sold</label>
                        <input type="email" class="form-control" id="ETHSaleAmt" placeholder="0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="confirmSellETH">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelSellETH">Cancel</button>
            </div>
        </div>
    </div>
</div>

  <script type="text/x-handlebars-template" src="/public/js/btcTicker.js"></script>
  <script type="text/x-handlebars-template" src="/public/js/transactions.js"></script>
