<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BoP App</title>

  <!--! CSS -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/2143376535.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles/styles.css">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <a class="navbar-brand" href="#">BoP Trader</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item active pt-2 pb-1">
            <div class="mx-1"> | </div>
          </li>
          <li class="nav-item active pt-2 pb-1">
            <div class="mx-1" id="btc_val"></div>
          </li>
        </ul>



        <form class="form-inline">
          <button class="btn btn-outline-primary mr-1" type="button" data-target="exampleModalCenter">Login</button>
          <button class="btn btn-outline-primary ml-1" type="button">Sign Up</button>
        </form>
      </div>
    </nav>
  </header>

  <div class="container">

    {{{body}}}

  </div>


  <footer class="footer m-1 p-1 border-top">
    <div class="d-flex justify-content-between align-items-center px-1 mx-1">
      <span>
        <h5>
          <a href="https://github.com/DTHutton/bop-trader" target="_blank">BoP Trader Repo</a>
        </h5>
      </span>

      <span class="py-1 d-flex">
        <div class="justify-content-between p-1"><strong>Developers: </strong></div>
        <a class="justify-content-between p-1" href="https://github.com/austinalber" target="_blank">Austin
          Alber</a>
        <div class="justify-content-between p-1"> | </div>
        <a class="justify-content-between p-1" href="https://github.com/thomas-white-ucf" target="_blank">Thomas
          White</a>
        <div class="justify-content-between p-1"> | </div>
        <a class="justify-content-between p-1" href="https://github.com/DTHutton" target="_blank">Derek
          Hutton</a>
      </span>
    </div>
  </footer>

  <script>
    //Fetch the value of Bitcoin
    const api_url = 'https://api.cryptonator.com/api/ticker/btc-usd';
    // Log initial price at page loadup
    console.log(bitcoinDataHandler().toString());
    const time_interval = 2;
    function addLeadingZero(num) {
      return (num <= 9) ? ("0" + num) : num;
    }
    function clientDateTime() {
      var date_time = new Date();
      var curr_hour = date_time.getHours();
      var zero_added_curr_hour = addLeadingZero(curr_hour);
      var curr_min = date_time.getMinutes();
      var curr_sec = date_time.getSeconds();
      var curr_time = zero_added_curr_hour + ':' + curr_min + ':' + curr_sec;
      return curr_time
    }
    function makeHttpObject() {
      try { return new XMLHttpRequest(); }
      catch (error) { }
    }
    function bitcoinGetData() {
      var request = makeHttpObject();
      request.open("GET", api_url, false);
      request.send(null);
      return request.responseText;
    }
    function bitcoinDataHandler() {
      var raw_data_string = bitcoinGetData();
      var data = JSON.parse(raw_data_string);
      var base = data.ticker.base;
      var target = data.ticker.target;
      var price = data.ticker.price;
      var volume = data.ticker.volume;
      var change = data.ticker.change;
      var api_server_epoch_timestamp = data.timestamp;
      var api_success = data.success;
      var api_error = data.error;
      return price;
    }
    document.getElementById("btc_val").innerHTML = "BTC - " + "$" + Math.round(bitcoinDataHandler()) + " USD";
  </script>

</body>

</html>