<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome {{email}}
    {{!-- <%= user.name %> --}}
    {{!-- Once you are logged in and set up passport we will have access to user object and fields in our database --}}
</p>
<a href="/logout" class="btn btn-secondary">Logout</a>



