<div class="row mt-5">
  <div class="col-md-6 m-auto">
      {{!-- bootstrap card --}}
    <div class="card card-body text-center">
        {{!-- node JS icon --}}
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      {{!-- register and login buttons --}}
      <a href="/register" class="btn btn-primary btn-block mb-2"> Register</a>
      <a href="/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>